{% if page.url == "/"%}
<div class="header__wrapper">
{% else %}
<div class="header__wrapper header__wrapper--blue">
{% endif %}
  <div class="logo__container">
    {% if page.url == "/"%}
    {% else %}
    <img src="{{site.baseurl}}/img/logo-white.svg" />
    {% endif %}
  </div>
  <div class="nav__wrapper">
    <ul>
      <li><a href="{{ "/" | prepend: site.baseurl }}" {% if page.url == "/"%}class="active"{% endif %}>Home</a></li>
      <li><a href="{{ "/services/" | prepend: site.baseurl }}" {% if page.url == "/services/"%}class="active"{% endif %}>Services</a></li>
      <li><a href="{{ "/about/" | prepend: site.baseurl }}" {% if page.url == "/about/"%}class="active"{% endif %}>About Us</a></li>
      <li><a href="{{ "/contact/" | prepend: site.baseurl }}" {% if page.url == "/contact/"%}class="active"{% endif %}>Contact</a></li>
    </ul>
  </div>
</div>
